<div class="side-panel">
    <ul>
        <li>
            <div class="hand">
                <i class="fa fa-hand-o-right fa-fw" style="font-size:1.2em; color:white"></i>
                <a href="/schedule/">Home</a>
            </div>
        </li>
        <li>
            <div class="hand">
                <i class="fa fa-hand-o-right fa-fw" style="font-size:1.2em; color:white"></i>
                <a href="/schedule/course">All courses</a>
            </div>

        </li>
        <li>
            <div class="hand">
                <i class="fa fa-hand-o-right fa-fw" style="font-size:1.2em; color:white"></i>
                <a href="/schedule/professor">All professors</a>
            </div>
        </li>
    </ul>
</div>
