<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>

    <body>
        <div id="landing">
            <p>
                Welcome!!
            </p>
        </div>
    </body>
</html>
